dl{
    font-size: 20px;
}

ol{
    /* list-style-type: hebrew; */
}

ul{
    /* list-style-position: inside; */
    list-style-type: square;
    /* margin-left: 300px; */
    list-style-image: url('../img/sun.png');
}

li{
    /* background-color: aqua; */
}