.warrior{
    height: 50px;
    width: 33px;
    /* position: relative;
    top: 35px;
    left: 33.5px; */
    margin: 35px auto;
}

.warrior::before{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    content: ' ';
    display: block;
    position: relative;
    top: -30px;
}

.warrior::after{
    height: 10px;
    width: 40px;
    content: ' ';
    display: block;
    position: relative;
    top: 10px;
    left: -3.5px;
}