/*----------------------------------*/
/*Перечисление*/
.fild1,.fild3,.fild5{
    color: red;
}
/*----------------------------------*/
/*Потомок*/
p span{
    font-size: 28px;
}
/*----------------------------------*/
/*Прямой потомок*/
body>span{
    font-style: italic;
}
/*----------------------------------*/
/*уточнение*/
div.fild2{/*имятега.класс.класс2.класс3.класс4*/
    color: green;
}
.right.fild5{
    text-align: right;
}
/*----------------------------------*/
/*сосед снизу*/
p+span{
    font-size: 44px;
}
/*----------------------------------*/
/*все соседи снизу*/
p~a{
    font-weight: 800;
}

/*----------------------------------*/
/*----------------------------------*/
/*Псевдоклассы*/
/*----------------------------------*/
/*Первый ребенок*/
p:first-child{
    font-weight: 800;
    text-align: center;
}
/* .right:first-child{
    text-decoration: underline;
} */
/*----------------------------------*/
/*Последний ребенок*/
p:last-child{
    font-size: 4px;
}
/*----------------------------------*/
/*Н-ый ребенок*/
p:nth-child(3){
    font-size: 40px;
}
/*----------------------------------*/
/*Наведение мыши*/
p:hover{
    color: blue;
}
/*----------------------------------*/
/*пустой, без потомков, без содержимого*/
.el:empty{
    background-color: hotpink;
}
/*----------------------------------*/
/*пустой, без потомков, без содержимого*/
input:checked{
    /* margin: 30px; */
}
input:checked+main{
    display: none;
}
/*----------------------------------*/
/*ГИПЕРССЫЛКИ*/
/*Непосещенная ссылка*/
a:link{
    text-decoration: inherit;
    color: red;
    /* cursor: none; */
}
/*Нажатие*/
a:active{
    color: white;
    background-color: black;
}
/*Посещенная ссылка*/
a:visited{
    color: chartreuse;
    font-style: italic;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Атрибуты*/
[href]{
    letter-spacing: 5px;
}
p[class]{
    letter-spacing: -3px;
}
[title=Один]{
    background-color: indianred;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Псевдоэлементы*/
/*Элемент после*/
.fild4::after{
    content: "Привет";
}
/*Элемент до*/
li::before{
    content: "Номер ";
}

.el{
    width: 100px;
    height: 50px;
}