
/*Стоимость 1*/
p{
  font-family: cursive;
}
/*Последователность. Стоимость 1*/
/* p{
  font-family: Arial;
} */

/* Наследственность */
body{
  font-family: Arial;
  font-weight: 500;
  color: blue;
}

.red{
  color: red;
  word-spacing: 4px;

}

.bodia{
  color: green;
}

#four{
  font-weight: 800;
}

#bodia1{
  word-spacing: 20px !important;
}
